* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(126deg, #6441A5, #2a0845);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-align: center;
    line-height: 2;
}

#level-title,
#turn-indicator {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin-top: 2em;
    color: #FEF2BF;
    text-align: center;
    line-height: 2;
}

.container {
    display: block;
    margin: auto;
    text-align: center;
}

.btn {
    margin: 20px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 40%;
    cursor: pointer;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px -5px white;
    background-color: grey;
    animation: shakenow 0.2s linear infinite;
}

@keyframes shakenow {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px) translateY(-5px);
    }
    50% {
        transform: translateX(0px) translateY(0px);
    }
    75% {
        transform: translateX(-5px) translateY(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.hide {
    visibility: hidden;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 30px;
    }
    .btn {
        margin: 10px;
        height: 80px;
        width: 80px;
    }
}